<div class="card" *ngIf="vm$ | async as vm">
  <div class="card-header">

    {{ pageTitle }}

    <a style="float: right" [routerLink]="['/favorites']">
      {{vm.starships.totalFavorites}}
    </a>

  </div>

  <div class="card-body">

    <div class="input-group">
      <input [(ngModel)]='filter' type="text" class="form-control" placeholder="Starship Name">

      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="search(filter.value)">Search</button>
        <button class="btn btn-outline-secondary" type="button" (click)="clear()">Clear</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let starship of vm.starships.results">
          <tr>
            <td>{{ starship.name }}</td>
            <td>
              <button *ngIf="starship.isFavorite" class="btn" (click)="removeFavorite(starship)">Remove Favorite</button>
              <button *ngIf="!starship.isFavorite" class="btn" (click)="addFavorite(starship)">Add Favorite</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
