<div class="card" *ngIf="planets$ | async as planets">
  <div class="card-header">

    {{ pageTitle }}

    <a style="float: right" [routerLink]="['/favorites']">
      {{planets.totalFavorites}}
    </a>

  </div>

  <div class="card-body">

    <div class="input-group">
      <input [(ngModel)]='filter' type="text" class="form-control" placeholder="Person Name">

      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="search(filter.value)">Search</button>
        <button class="btn btn-outline-secondary" type="button" (click)="clear()">Clear</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Planet</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let planet of planets.results">
          <tr>
            <td>{{ planet.name }}</td>
            <td>
              <button *ngIf="planet.isFavorite" class="btn" (click)="removeFavorite(planet)">Remove Favorite</button>
              <button *ngIf="!planet.isFavorite" class="btn" (click)="addFavorite(planet)">Add Favorite</button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>


    <pm-pagination [page]="page" [totalPages]="planets.pages" (pageChanged)="setPage($event)"></pm-pagination>

  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
