<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">

    <div class="input-group">
      <input #filter type="text" class="form-control" placeholder="Person Name">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="search(filter.value)">Search</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0" *ngIf="people$ | async as people">
        <thead>
          <tr>
            <th>Person</th>
            <th>Birthday</th>
            <th>Home World Name</th>
          </tr>
        </thead>
        <tbody *ngFor="let person of people">
          <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.birth_year }}</td>
            <td>{{ person.homeworld_name }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
