<div class="card" *ngIf="people$ | async as people">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">

    <div class="input-group">
      <input [(ngModel)]='filter' type="text" class="form-control" placeholder="Person Name">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="search(filter.value)">Search</button>
        <button class="btn btn-outline-secondary" type="button" (click)="clear()">Clear</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Person</th>
            <th>Birthday</th>
            <th>Home World Name</th>
          </tr>
        </thead>
        <tbody *ngFor="let person of people.results">
          <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.birth_year }}</td>
            <td>{{ person.homeworld_name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav *ngIf="people.pages > 1" style="margin-top: 20px;">
      <ul class="pagination">
        <li *ngIf="people.page > 1" class="page-item">
          <a class="page-link" (click)="prev()">Previous</a>
        </li>
        <li [ngClass]="{'page-item' : true, 'active': i+1 == page}" *ngFor="let item of [].constructor(people.pages); let i = index">
          <a class="page-link" (click)="setPage(i+1)">
            {{ i+1 }}
          </a>
        </li>
        <li *ngIf="people.pages > people.page" class="page-item"><a class="page-link" (click)="next()">Next</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
