<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">

    <div class="input-group">
      <input [(ngModel)]='filter' type="text" class="form-control" placeholder="Person Name">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="search(filter.value)">Search</button>
        <button class="btn btn-outline-secondary" type="button" (click)="clear()">Clear</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0" *ngIf="people$ | async as people">
        <thead>
          <tr>
            <th>Person</th>
            <th>Birthday</th>
            <th>Home World Name</th>
          </tr>
        </thead>
        <tbody *ngFor="let person of people">
          <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.birth_year }}</td>
            <td>{{ person.homeworld_name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" (click)="prev()">Previous</a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link" (click)="next()">Next</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
