<div class="card" *ngIf="people$ | async as people">
  <div class="card-header">

    {{ pageTitle }}

    <a style="float: right" [routerLink]="['/favorites']">
      {{people.totalFavorites}}
    </a>

  </div>

  <div class="card-body">

    <div class="input-group">
      <input [(ngModel)]='filter' type="text" class="form-control" placeholder="Person Name">

      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="search(filter.value)">Search</button>
        <button class="btn btn-outline-secondary" type="button" (click)="clear()">Clear</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Person</th>
            <th>Birthday</th>
            <th>Home World Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let person of people.results">
          <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.birth_year }}</td>
            <td>{{ person.homeworld_name }}</td>
            <td>
              <button *ngIf="person.isFavorite" class="btn" (click)="removeFavorite(person)">Remove Favorite</button>
              <button *ngIf="!person.isFavorite" class="btn" (click)="addFavorite(person)">Add Favorite</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <pm-pagination [page]="page" [totalPages]="people.pages" (pageChanged)="setPage($event)"></pm-pagination>

  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
